{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- question.html content here -->

<!-- header -->
<header id="header" class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h1 class="display-3">Your Questions</h1>
        </div>
    </div>
</header>

<!-- main content -->
<main class="container">
    <div id="questions-container" class="container-fluid">
        <div id="questions-row" class="row" data-masonry='{"percentPosition": true}'>
            {% for question in questions %}
            {% if question.approved == 2 %}
            <div class="card col-12 col-md-6 col-lg-4 col-xl-3" data-id="{{ question.questionID }}">
                <div class="card-body">
                    <h5 class="display-5 card-title question-title">{{ question.title }}</h5>
                    <h6 class="display-6 card-subtitle question-subtitle">Created By {{ question.userID }}</h6>
                    <p class="question-summary">{{ question.summary }}</p>
                    <p class="hidden question-content">{{ question.content }}</p>
                    <button type="button" class="btn btn-primary question-view-button" data-bs-toggle="modal" data-bs-target="#question-view-modal">View Question</button>
                </div>
                <div class="card-footer">
                    <span class="difficulty question-difficulty">Difficulty - {{ question.difficulty }}</span>
                    <span class="created-on question-created-on">Created On - {{ question.dateCreated }}</span>
                    <span class="updated-on question-updated-on">Last Updated - {{ question.dateUpdated }}</span>
                    <span class="update-count quesion-update-count">Times Updated - {{ question.updateCount }}</span>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="question-view-modal" class="modal fade" tabindex="-1" aria-labelledby="question-view-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div id="question-view-modal-content" class="modal-header">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script src="{% static 'js/questionView.js' %}"></script>
{% endblock extra_scripts %}