{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- manage question.html content here -->

<!-- header -->
<header id="header" class="container questions-header">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-3 gradient-text header-title-text">Your Questions</h1>
        </div>
    </div>
</header>

<!-- main content -->
<main>
    <!-- box for the question create button, and any others that may be added -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center create-question-box">
                <button type="button" class="btn ms-lg-3 home-page-button" data-bs-toggle="modal"
                    data-bs-target="#question-create-modal">Create New Question</button>
            </div>
        </div>
    </div>
    <!-- questions container -->
    <div id="questions-container" class="container-fluid">
        <div id="questions-row" class="row" data-masonry='{"percentPosition": true}'>
            {% for question in questions %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 question-card-box">
                <div class="card question-card" data-id="{{ question.questionID }}"
                    data-difficulty="{{ question.difficulty }}" data-created-on="{{ question.dateCreated }}"
                    data-last-updated="{{ question.dateUpdated }}" data-update-count="{{ question.updateCount }}">
                    <div class="card-body question-card-body">
                        <h5 class="card-title question-title gradient-text">{{ question.title }}</h5>
                        <h6 class="card-subtitle question-subtitle">Posted By: {{ question.userID }}</h6>
                        <p class="question-summary">{{ question.summary }}</p>
                        <p class="hidden question-content">{{ question.content }}</p>

                        <div class="horizontal-align-text">
                            <button type="button" class="btn ms-lg-3 home-page-button question-view-button"
                                data-bs-toggle="modal" data-bs-target="#question-view-modal">View Question</button>
                            
                        </div>
                    </div>
                    <div class="card-footer question-card-footer horizontal-align-text question-approval">
                        {% if question.approved == 0 %}
                        <span class="question-draft">Draft</span>
                        {% elif question.approved == 1 %}
                        <span class="question-pending-approval">Pending Approval</span>
                        {% elif question.approved == 2 %}
                        <span class="question-approved">Approved</span>
                        {% elif question.approved == 3 %}
                        <span class="question-disapproved">Disapproved</span>
                        {% endif %}
                    </div>
                    <div class="card-footer question-card-footer horizontal-align-text question-difficulty">
                        {% if question.difficulty == 0 %}
                        <span class="question-easy">Easy</span>
                        {% elif question.difficulty == 1 %}
                        <span class="question-medium">Medium</span>
                        {% elif question.difficulty == 2 %}
                        <span class="question-hard">Hard</span>
                        {% elif question.difficulty == 3 %}
                        <span class="question-insane">Insane</span>
                        {% else %}
                        <span class="question-none">No Difficulty Given</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- modal that allows for viewing the question -->
    <div id="question-view-modal" class="modal fade" aria-labelledby="question-view-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content question-view-modal">
                <div class="modal-header">
                    <h5 id="question-view-modal-label" class="modal-title question-view-title gradient-text"></h5>
                </div>
                <div class="modal-body">
                    <p class="question-view-difficulty horizontal-align-text"></p>
                    <p class="question-view-content">a</p>
                </div>
                <div class="modal-body question-view-extra-information">
                    <p class="horizontal-align-text question-view-subtitle"></p>
                    <p class="horizontal-align-text question-view-date-created"></p>
                    <p class="horizontal-align-text question-view-date-updated"></p>
                    <p class="horizontal-align-text question-view-update-count"></p>
                    <p class="hidden question-view-id" data-id=""></p>
                    <p class="hidden question-view-summary"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ms-lg-3 home-page-button question-close-button"
                        data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn ms-lg-3 home-page-button question-edit-button" data-bs-toggle="modal" data-bs-target="#question-edit-modal">Edit
                        Question</button>
                    <button type="button" class="btn ms-lg-3 delete-question-button question-delete-button" data-bs-toggle="modal" data-bs-target="#question-delete-modal">Delete
                        Question</button>

                </div>
            </div>
        </div>
    </div>
    <!-- modal that allows for creating the question -->
    <div id="question-create-modal" class="modal fade" aria-labelledby="question-create-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content question-create-modal">
                <div class="modal-header">
                    <h5 id="question-create-modal-label" class="modal-title gradient-text">Create Question</h5>
                </div>
                <form class="question-form" action="/manage_questions/create_question/" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ question_create_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn ms-lg-3 home-page-button" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal that allows for editing the question -->
    <div id="question-edit-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="question-edit-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content question-create-modal">
                <div class="modal-header">
                    <h5 id="question-edit-modal-label" class="modal-title gradient-text">Edit Question</h5>
                </div>
                <form class="question-form" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ question_edit_form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn ms-lg-3 home-page-button" value="Submit">
                        <button type="button" class="btn ms-lg-3 home-page-button" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn ms-lg-3 home-page-button" data-bs-toggle="modal" data-bs-target="#question-view-modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal that allows for deleting the question -->
    <div id="question-delete-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="question-delete-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content question-create-modal">
                <div class="modal-header">
                    <h5 id="question-delete-modal-label" class="modal-title gradient-text">Delete Question</h5>
                </div>
                <div class="modal-body">
                    <p class="horizontal-align-text text-white">Are you sure you want to delete this question?</p>
                    <p class="horizontal-align-text delete-warning">This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn ms-lg-3 home-page-button" data-bs-toggle="modal" data-bs-target="#question-view-modal">Cancel</button>
                    <a id="delete-question" class="btn ms-lg-3 delete-question-button link-text" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
<script src="{% static 'js/questionView.js' %}"></script>
{% endblock extra_scripts %}