{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- question.html content here -->

<!-- header -->
<header id="header" class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h1 class="display-3">Your Questions</h1>
        </div>
    </div>
</header>

<!-- main content -->
<main class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <p>Coming Soon!</p>
        </div>
    </div>
</main>

{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}