{% load static %}
{% url 'home_page' as home_url %}
{% url 'about_page' as about_url %}
{% url 'question_page' as question_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'account_management_page' as account_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maths Planet</title>
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <!-- favicon -->
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<!-- push footer to bottom with bootstrap classes-->

<body class="d-flex flex-column min-vh-100">
    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home_page' %}">Maths Planet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}"
                            href="{% url 'home_page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == question_url %}active" aria-current="page{% endif %}"
                            href="{% url 'question_page' %}">Search Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}active" aria-current="page{% endif %}"
                            href="{% url 'about_page' %}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="nav-link">Logged in as {{ user }}</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == account_url %}active" aria-current="page{% endif %}" href="{% url 'account_management_page' %}">Manage Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}" href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}" href="{% url 'account_login' %}">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- page content -->
    {% block content %}
    {% endblock content %}

    <!-- footer -->
    <footer id="footer" class="mt-auto">
        <div class="container">
            <div class="row justify-content-center">
                <!-- link to github -->
                <div class="col-12 col-md-6 text-center">
                    <h2>Source Code</h2>
                    <p>
                        <a href="https://github.com/hpjohnson/capstone" target="_blank" rel="noopener"
                            aria-label="Visit the creators github for the source code (opens in new tab)"><i
                                class="fa-brands fa-square-github"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- bootstrap javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <!-- fontawesome javascript -->
    <script src="https://kit.fontawesome.com/a18a4cca9c.js" crossorigin="anonymous"></script>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
</body>

</html>