{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- about.html content here -->

<!-- header -->
<header id="header" class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1 class="display-3 gradient-text header-title-text">{{ about.title }}</h1>
            <p class="header-text">Read below for information about the website, and its current and planned features.</p>
        </div>
    </div>
</header>

<!-- main content -->
<main id="about" class="container">
    <div class="row justify-content-center">
        <div class="col-12 about-page-box">
            <div class="row">
                <div id="about-content" class="col-12">
                    {{ about.content | safe }}
                </div>
                <div id="about-date-updated" class="col-12">
                    <p class="about-date-updated-text">Last updated: {{ about.updated_on }}</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}